#Conferences {
    width:90%;
    margin: 0 auto;
}
@media (max-width:768px){
    #Conferences {
        width: 100%;
    }
}
.conference-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto; 
}

