@import '~bootstrap/dist/css/bootstrap.min.css';
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.cont {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  background-color: rgb(241, 239, 239);
}
p {
  font-size: 18px;
}
h1 {
  font-size: 25px;
  font-weight: bold;
}
.home-cont {
  margin-top: 40px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 20px;
}

